*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: bebas-neue, sans-serif;
    -webkit-font-smoothing: antialiased;
}
canvas {
    position: absolute;
}
.info {
    position: absolute;
    top: 20%;
    z-index: 1100;
    width: 100%;
    height: 60%;
    /*text-shadow: 0 0 5px #000000;*/
    background: #000000;
    color:white;
    text-align: center;
    font-weight: 200;
    /*display: none;*/
}
.info h1, .info h2 {
    font-weight: 200;
}
.info h1 {
    font-size: 28pt;
}
.overlay {
    position: absolute;
    z-index: 1200;
    width: 100%;
    height: 100%;
    background: #EFEFEF;
    text-align: center;
}
.percentLoaded {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 1001;
    width: 100%;
    text-align: center;
    font-size: 8em;
}
.progress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 0%;
    height: 100%;
    background: #6588D6;
}
button {
    top: 0;
    margin: 2%;
    margin-top: 0;
    padding: 0;
    width: 28%;
    height: 60%;
    border: none;
    background: transparent;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    /*font-family: serif;*/
}
button p {
    font-size: 16pt;
    font-family: bebas-neue, sans-serif;
    -webkit-font-smoothing: antialiased;
}
button:hover {
    /*background: #EFEFEF;*/
}
button:active {
}
.choose_button img {
    margin-top: 0;
}
.chose {
    /*display: none;*/
}
img {
    margin-top: 10%;
    max-width: 100%;
    max-height: 60%;
}
.container {
    max-width: 50%;
}
.chose_leap .container {
    max-width: 50%;
    min-width: 40%;
}
.text {
    font-size: 16pt;
    line-height: 30pt;
}
.pull-right {
    float: right;
    margin-right: 20%;
}
.pull-left {
    float: left;
    margin-left: 20%;
}
.chose_leap .pull-left {
    margin-left: 10%;
}
.chose_leap .pull-right {
    margin-right: 10%;
}
.play {
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    color: black;
    font-size: 16pt;
    font-family: bebas-neue, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.instruct canvas {
    position: relative;
}
.chose_keys img {
    max-height: 60px;
}
.chose_keys h2 {
    float: left;
    width: 33%;
}
.chose_keys .play {
    margin-top: 40px;
}
img.arrow {
    margin-bottom: 10px;
    max-height: 40px;
}
.back-button {
    position: absolute;
    top: 5%;
    left: 0;
    display: none;
    width: 200px;
}
.full-width {
    width: 100%;
    display: block;
    text-align: center;
    bottom: 0;
}
.chose_leap .play {
    padding: 10px;
    font-size: 16pt;
    font-family: bebas-neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
}
.split {
    background: white;
}
.split-horizontal {
    position: absolute;
    height: 10px;
    width: 100%;
    top: 50%;
    margin-top: -5px;
    z-index: 500;
}
.split-vertical {
    position: absolute;
    width: 10px;
    height: 100%;
    left: 50%;
    margin-left: -5px;
    z-index: 500;
}
.number {
    font-size: 30pt;
    color: white;
    position: absolute !important;
    z-index: 500;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.number-1 {
    top: 44%;
    left: 48%;
}
.number-2 {
    top: 44%;
    left: 98%;
}
.number-3 {
    top: 94%;
    left: 48%;
}
.number-4 {
    top: 94%;
    left: 98%;
}
